article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* styles */
html {
    font-size: 1.2em;
    scroll-behavior: smooth;
}


body {
    font-family: 'Catamaran', sans-serif;
    position: relative;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,
h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    color: #1f2022;
    margin: 0;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease;
}

a:visited {
    display: none;
}

/* header  */
header {
    background: url(assets/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.topNav ul {
    text-align: center;
    padding-top: 10px;
}

.topNav ul li {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 auto;
}

.topNav ul a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .8rem;
    /* transition: all .3s ease; */
}

.topNav ul a:hover,
.topNav ul a:focus {
    color: teal;
}

.headerContainer {
    position: relative;
}

.headerTitle {
    text-align: center;
    padding: 180px 0;
    margin: 0 auto;
}

.headerTitle h1:hover {
    /* color: teal; */
    padding: 5px;
}

.headerTitle h1 {
    color: whitesmoke;
    font-family: 'Fuji', cursive;
    font-size: 7.5rem;
}

.headerSocialNav {
    color: teal;
    position: absolute;
    left: 40px;
    top: 37%;
}

.headerSocialNav a {
    color: whitesmoke;
    border: 2px solid transparent;
}

.headerSocialNav a:hover,
.headerSocialNav a:focus {
    color: teal;
}


.hamburger {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    font-size: 2rem;
}

.hamburger-box .hamburger-inner:focus,
.hamburger-box .hamburger-inner::before:focus,
.hamburger-box .hamburger-inner::after:focus {
    color: black;
}

.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner::before,
.hamburger-box .hamburger-inner::after {
    display: none;
}

.topNav ul.active {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.about {
    padding: 30px;
}

/* Footer Styles */
footer {
    background: black;
}

.bottomContainer {
    padding: 50px ;
}

.bottomNav {
    text-align: center;
}

.bottomNav a {
    color: whitesmoke;
    display: inline-block;
}

.bottomNav ul a:hover,
.bottomNav ul a:focus  {
  color: teal;
}

.bottomNav ul li {
    display: inline-block;
    font-weight: 600;
    padding: 15px 20px;
    text-transform: uppercase;
}

.bottom {
    float: left;
    width: 50%;
    }

.bottom h2 {
    color: teal;
    font-family: 'fuji';
    font-size: 1.25rem;
    padding: 20px 0 10px 0;
}

.bottomBox2 p {
    padding-bottom: 10px;
}

form {
    font-size: 0.9rem;
    display: block;
}

input[type="email"] {
    color: #232323;
    float: left;
    width: 70%;
    padding: 7px 0 7px 30px;
}

input[type="submit"] {
    color: #1f2022;
    background: teal;
    border: 1px solid ;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 30%;
    float: right;
    padding: 9px 1px;
    transition: all .3s ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    color: ;
    background: #1f2022;
    border: 2px solid #1f2022;
}

.bottomBox1 p {
    width: 55%;
}

.bottom p{
    color: white;
}

.bottomContact{
    padding: 0 10%;
    margin-bottom: 6%;
}

.copyright p {
    color: #fcfcfc;
    background: #00000081;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    opacity: 0.5;
    padding: 8px;
}











@media(max-width: 985px) {
    header {
        min-height: 600px;
        height: 50vw;
    }

    header {
        background: black no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 150vw;
    }

    .headerSocialNav {
        display: none;
    }

    .hamburger-box .hamburger-inner,
    .hamburger-box .hamburger-inner::before,
    .hamburger-box .hamburger-inner::after {
        display: block;
    }

    .topNav ul {
        display: block;
        right: -45%;
        top: 0;
        bottom: 0;
        width: 45%;
        padding: 20px 30px 0 30px;
        text-align: left;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        transition: all .3s;
        z-index: 1;
    }

    .topNav ul a {
        font-size: 1.2rem;
    }
}